.contact {
    text-decoration-line: underline;
    text-shadow: 2px 2px 3px #b8af9c;
}

.more {
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 3px #b8af9c;
}

.ci{
    margin-bottom: 100px;
}